<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BeautiLibrary4</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <jsp-file>AdminLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookInfo</servlet-name>
    <jsp-file>BookInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInfo</servlet-name>
    <url-pattern>/Logined/BookInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <jsp-file>Insert.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Logined/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteHandle</servlet-name>
    <jsp-file>DeleteHandle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHandle</servlet-name>
    <url-pattern>/Logined/DeleteHandle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoInsert</servlet-name>
    <jsp-file>DoInsert.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoInsert</servlet-name>
    <url-pattern>/Logined/DoInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoUpdate</servlet-name>
    <jsp-file>DoUpdate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdate</servlet-name>
    <url-pattern>/Logined/DoUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Query</servlet-name>
    <jsp-file>Query.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Logined/Query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerUser</servlet-name>
    <jsp-file>ManagerUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerUser</servlet-name>
    <url-pattern>/Logined/ManagerUser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.handle.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Logined/*</url-pattern>
  </filter-mapping>
</web-app>